{% extends 'shared/base.html' %}
{% load tags %}
{% load static %}
{% load thumbnail %}
{% block title %}
     Online Shop
{% endblock %}
{% block content %}
<body class="full-width extended">
<div id="content" class="site-content" tabindex="-1">
    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="home-v3-slider" >
                    <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
                        {% for sliders in slider %}
                            {% thumbnail sliders.image '1920x1000' crop='center' as im %}
                                <div class="item" style="background-image: url({{ im.url }});">
                            {% endthumbnail %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="caption vertical-center text-left">
                                            <div class="hero-action-btn fadeInDown-3">
                                                <a href="{{ sliders.url }}" class="big le-button ">Start Buying</a>
                                            </div>
                                        </div><!-- /.caption -->
                                    </div><!-- /.col -->
                                </div>
                            </div><!-- /.container -->
                        </div><!-- /.item -->
                        {% endfor %}
                    </div><!-- /.owl-carousel -->
                </div><!-- /.home-v1-slider -->
                <div class="home-v3-features-block animate-in-view fadeIn animated" data-animation="fadeIn">
                    <div class="features-list columns-5">
                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-transport"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>Free Delivery</strong> from $50
                                </div>
                            </div>
                        </div><!-- .feature -->
                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-customers"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>99% Positive</strong> Feedbacks
                                </div>
                            </div>
                        </div><!-- .feature -->
                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-returning"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>365 days</strong> for free return
                                </div>
                            </div>
                        </div><!-- .feature -->
                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-payment"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>Payment</strong> Secure System
                                </div>
                            </div>
                        </div><!-- .feature -->
                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-tag"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>Only Best</strong> Brands
                                </div>
                            </div>
                        </div><!-- .feature -->
                    </div><!-- .features-list -->
                </div><!-- .home-v3-features-block -->
                <div class="home-v3-ads-block animate-in-view fadeIn animated" data-animation=" animated fadeIn">
                    <div class="ads-block row">
                            <div class="ad col-xs-12 col-sm-6">
                                    <div class="media-left media-middle">
                                        <img href="{{ adv_last_sec.url_title }}" src="{{ adv_last_sec.banner.url }}"  alt="">
                                    </div>
                        </div><!-- /.col -->
                            <div class="ad col-xs-12 col-sm-6">
                                <div class="media-left media-middle">
                                        <img src="{{ adv_ewano.banner.url }}"  alt="">
                                </div>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                <section class="products-carousel-tabs animate-in-view fadeIn animated" data-animation="fadeIn">
                    <h2 class="sr-only">Product Carousel Tabs</h2>
                    <ul class="nav nav-inline text-xs-left">
                        {% for a in product_by_category %}
                            <li class="nav-item ">
                            <a class="nav-link {% if forloop.first %} active {% endif %}" href="#Tab_{{ a.id }}"  data-toggle="tab">{{ a.url_title }}</a>
                            </li>
                        {% endfor %}
                    </ul><!-- /.nav -->
                    <div class="tab-content">
                    {% for b,a in product_by_category.items %}

                            <div class="tab-pane container {% if forloop.first %} active {% endif %}" id="Tab_{{ b.id }}"  >
                                <div class="home-v3-owl-carousel-tabs">
                                        <div class="products owl-carousel home-v3-carousel-tabs products-carousel columns-4">
                                            {% for products in a %}
                                                <div class="product" >
                                                        <a href="{% url 'product-detail-page' products.slug %}">
                                                            <h3>{{ products.title }}</h3>
                                                            <div class="product-thumbnail">
                                                                {% thumbnail products.image '250x232' crop='center' as im %}
                                                                    <img src="/static/images/blank.gif" data-echo="{{ im.url }}" class="img-responsive" alt="">
                                                                {% endthumbnail %}
                                                            </div>
                                                        </a>
                                                        <div class="price-add-to-cart">
                                                            <span class="price">
                                                                <span class="electro-price">

                                                                    <ins><span class="amount"> {{ products.calculate_price | three_digits_show }}</span></ins>
                                                                    {% if products.Discounted %}
                                                                    <del><span class="amount">{{ products.calculate_price | three_digits_show }}</span></del>
                                                                    {% endif %}
                                                                    <span class="amount"> </span>
                                                                </span>
                                                            </span>
                                                            <a rel="nofollow" href="" class="button add_to_cart_button">Add to cart</a>
                                                        </div><!-- /.price-add-to-cart -->
                                                        <div class="hover-area">
                                                            <div class="action-buttons">
                                                                <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                                <a href="" class="add-to-compare-link"> Compare</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                    {% endfor %}
                                    </div>

                                </div>
                        </div><!-- /.tab-pane -->
                        {% endfor %}
                    </div><!-- /.tab-content -->

                </section><!-- /.products-carousel-tabs -->
                <section class="section-product-cards-carousel animate-in-view fadeIn animated" data-animation="fadeIn">
                    <header>
                        <h2 class="h1">Laptops &amp; Computers</h2>

                        <div class="owl-nav">
                            <a href="" data-target="#homev3-products-cards-carousel" class="slider-prev"><i class="fa fa-angle-left"></i></a>
                            <a href="" data-target="#homev3-products-cards-carousel" class="slider-next"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </header><!-- /header-->
                    <div id="homev3-products-cards-carousel">
                        <div class="woocommerce home-v3 columns-2 product-cards-carousel owl-carousel">

                            <ul class="products columns-2">
                                {% for products in microsoft_products %}
                                    <li class="product product-card">

                                    <div class="product-outer">
                                        <div class="media product-inner">

                                            <a class="media-left" href="" title="{{ products.title }}">
                                                {% thumbnail products.image '250x232' crop='center' as im %}
                                                    <img class="media-object wp-post-image img-responsive" src="/static/images/blank.gif" data-echo="{{ im.url }}" alt="">
                                                {% endthumbnail%}

                                            </a>

                                            <div class="media-body">
                                                <span class="loop-product-categories">
                                                    <a href="" rel="tag">{{ products.category }}</a>
                                                </span>

                                                <a href="">
                                                    <h3>{{ products.title }}</h3>
                                                </a>

                                                <div class="price-add-to-cart">
                                                    <span class="price">
                                                        <span class="electro-price">
                                                            <ins><span class="amount"> </span></ins>
                                                            <span class="amount">{{ products.price | three_digits_show }}</span>
                                                        </span>
                                                    </span>

                                                    <a href="" class="button add_to_cart_button">Add to cart</a>
                                                </div><!-- /.price-add-to-cart -->

                                                <div class="hover-area">
                                                    <div class="action-buttons">

                                                        <a href="#" class="add_to_wishlist">
                                                            Wishlist</a>

                                                        <a href="#" class="add-to-compare-link">Compare</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->

                                </li><!-- /.products -->
                                {% endfor %}

                            </ul>
                        </div>
                    </div><!-- /#homev3-products-cards-carousel-->

                </section><!-- /.section-product-cards-carousel-->
                <section class="home-list-categories animate-in-view fadeIn animated" data-animation="fadeIn">
                    <header>
                        <h2 class="h1">Most Products Visit this Month</h2>
                    </header>
                    <ul class="categories">
                        {% for products in most_visit_products %}
                            <li class="category">
                            <div class="media">
                                <a class="media-left" href="">
                                    {% thumbnail products.product.image '250x232' crop='center' as im %}
                                        <img data-echo="{{ im.url }}" src="/static/images/blank.gif" alt="">
                                    {% endthumbnail %}
                                </a><!-- /.media-left -->

                                <div class="media-body">
                                    <h4 class="media-heading"><a href="">{{ products.product.brand.url_title }}</a></h4>
                                    <ul class="sub-categories list-unstyled">
                                        <li class="cat-item">
                                            {{products.product.brand}}
                                        </li>
                                        <li class="cat-item">
                                            {{ products.product.short_descriptions }}
                                        </li>
                                        <li class="cat-item">
                                            {{ products.product.price | three_digits_show }}

                                        </li>
                                    </ul>
                                </div><!-- /.media-body -->
                            </div><!-- /.media -->
                            <a class="see-all" href="{% url 'product-detail-page' products.product.slug %}">More Details</a>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->
    </div><!-- #content -->
</body>
{% endblock %}