{% extends 'shared/base.html' %}
{% load render_partial %}
{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <br><br>
        <div class="container">
        <div class="row">
            {% render_partial 'userpanel.views.user_panel_menu_component' %}
            <div class="col-md-8">
                <form action="{% url 'change-password-page' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button type='submit' class="btn  btn-success">Change</button>
                </form>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}