{% extends 'shared/base.html' %}
{% load render_partial %}
{% block title %}
    Edit Profile
{% endblock %}


{% block content %}
        <div class="container">
        <div class="row">
            <br>
            {% render_partial 'userpanel.views.user_panel_menu_component' %}
            <div class="col-md-8">
                <br>
                <form action="{% url 'edit-profile-info-page' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit">
                </form>
                <br>
            </div>
        </div>
    </div>
{% endblock %}