{% extends 'shared/base.html' %}
{% block title %}
    Reset Password
{% endblock %}

{% block content %}
        <div class="container">
		<section id="form"><!--form-->
			<div class="row">
				<div class="forget-password">
					<div class="col-sm-6 col-sm-offset-3">
						<div class="login-form"><!--Recovery form-->
                            <br>
							<form action='{% url 'reset-password-page' user_link %}' method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
								<button type="submit" class="btn btn-default">ثبت</button>
							</form>
						</div><!--/Recovery form-->
					</div>

				</div>
			</div>
		</section>
	</div>
{% endblock %}