<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/css/animate.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/css/font-electro.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/css/owl-carousel.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/css/colors/yellow.css" media="all" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,700italic,800,800italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="/static/images/fav-icon.png">
